<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markowitz Portfolio Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Markowitz Portfolio Analyzer</h1>

        <div class="card">
            <h3>Add Asset</h3>
            <label for="name">Asset Name:</label>
            <input type="text" id="name" class="input-field">
            <br>
            <label for="returns">Returns (comma-separated):</label>
            <input type="text" id="returns" class="input-field">
            <br>
            <button id="add-asset" class="btn">Add Asset</button>
        </div>

        <div class="card">
            <h3>Upload CSV</h3>
            <input type="file" id="csv-file" class="input-field" accept=".csv">
            <br>
            <label for="transpose-csv">
                <input type="checkbox" id="transpose-csv"> Transpose data (Columns are Assets)
            </label>
            <br>
            <label for="delimiter-csv">
                <input type="checkbox" id="delimiter-csv"> Use ';' as delimiter
            </label>
            <br>
            <label for="header-csv">
                <input type="checkbox" id="header-csv"> Nombre de activo en encabezado
            </label>
        </div>

        <h3>Assets:</h3>
        <div id="asset-list" class="card"></div>

        <button id="generate-graph" class="btn">Generate Efficient Frontier</button>

        <div id="plotly-graph"></div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
